<div id="menu">
    <aside *ngIf="show" class="complete">
        <h3>Usuario:</h3>
        <h2>Ramón Álvarez</h2>
        <button (click)="changeShow()">
            <img src="../../../../assets/images/Menu.svg" class="show">
        </button>
        <ul>
            <div class="shadow">
                <img src="../../../../assets/images/Agregar-Actas.svg" class="icon-father">Crear acta sacramental
            </div>            
            <ul>
                <li *ngFor="let event of events">
                    <img [src]="event.icon" class="icon">
                    <a routerLink="/bautismo">{{event.name}} </a>
                </li>
            </ul>                
            <div class="shadow">
                <img src="../../../../assets/images/Buscar-Actas.svg" class="icon-father">Buscar acta sacramental
            </div>
            <ul>
                <li>
                    <img src="../../../../assets/images/Buscar.svg" class="icon">
                    <a routerLink="/buscador">Buscar actas</a>
                </li>    
            </ul>
            <div class="shadow">
                <img src="../../../../assets/images/Usuario.svg" class="icon-father">Usuario
            </div>
            <ul>
                <li>
                    <img src="../../../../assets/images/Contrasena.svg" class="icon">
                    <a href="#">Cambiar contraseña</a>
                </li>
                <li>
                    <img src="../../../../assets/images/Cerrar-sesion.svg" class="icon">
                    <a href="#">Cambiar contraseña</a>
                </li>
            </ul>
        </ul>
    </aside>

    <aside *ngIf="!show" class="partial">
        <button (click)="changeShow()">
            <img src="../../../../assets/images/Menu.svg" class="show">
        </button>
        <ul>
            <li *ngFor="let event of events"><img [src]="event.icon" class="icon"></li>
            <li>
                <a routerLink="/buscador"><img src="../../../../assets/images/Buscar.svg" class="icon"></a>                
            </li>
            <li>
                <img src="../../../../assets/images/Contrasena.svg" class="icon">
            </li>
            <li>
                <img src="../../../../assets/images/Cerrar-sesion.svg" class="icon">
            </li>
        </ul>
    </aside>

</div>
