<div id="nueva-acta">
    <header>
        <h1>Nuestra señora del Perpetuo Socorro</h1>
    </header>
    <section>
        <ul>
            <li><i class="fa fa-file" aria-hidden="true"></i>
                <a (click)="executeAdd(type)" >Agregar acta</a></li>
            <li><i class="fa fa-search" aria-hidden="true"></i>
                <a >Buscar acta</a></li>
            <li><i class="fa fa-key" aria-hidden="true"></i>
                <a href="#">Cambiar contraseña</a></li>
            <li><i class="fa fa-sign-out" aria-hidden="true"></i>
                <a href="#">Cerrar sesión</a></li>
        </ul>
    </section>
    <main>
        <h2>Crear nueva acta</h2>
        <ul>
            <li>
               
                <a (click)="setType(1)">
                    <img src="../../../../assets/images/Bautismo.svg">
                    Bautismo
                </a>
                <!--<a href="#">Bautismo</a>-->
            </li>
            <li>
                <a (click)="setType(1)">
                    <img src="../../../../assets/images/Comunion.svg" (click)="setType(2)">
                    Primera comunión
                </a>

            </li>
            <li>
                <img src="../../../../assets/images/Confirmacion.svg" (click)="setType(3)">
                <a href="#">Confirmación</a>
            </li>
            <li>
                <img src="../../../../assets/images/Matrimonio.svg" (click)="setType(4)">
                <a href="#">Matrimonio</a>
            </li>
        </ul>
    </main>
</div>