
<div id="login">
  <header>
    <h1>Control de actas sacramentales</h1>
  </header>
  <main>
    <section>
      <h2>Iniciar sesión</h2>
      <form >
        <input class = "input_usuario" type="text" [(ngModel)]="user.name" name="name" placeholder= "&#xf2c0; &nbsp;&nbsp;&nbsp; Contraseña">
        <input class = "input_password" type="password"   [(ngModel)]="user.password" name="password" placeholder= "&#xf13e; &nbsp;&nbsp;&nbsp; Contraseña">
        <button class = "btn_login" value="Ingresar" (click)="login(user)">Iniciar sesión</button>
      </form>
      <a href="#">¿Olvidaste tu contraseña?</a>
    </section>
  </main>
</div>

