#nueva-acta {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  main {
    background: white;
    grid-column: 5 / 11;
    box-shadow: 1px 1px 5px #b5b5b5;
    margin: 25px 0;
    .content {
      margin: 10% 10%;
      h2 {
        color: #3D3D3D;
        font-size: 30px;
        margin: 50px 0;
        font-weight: bold;
      }
      .tabs {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
        .tab {
          cursor: pointer;
          width: calc(100%/3);
          display: inline-flex;
          height: 100%;
          border-bottom: 1px solid gray;
          a {
            width: 100%;
            text-align: center;
            color: #3D3D3D;
            text-decoration: none;
            padding: 3px;;
          }
          &.select {
            border-bottom: 2px solid $primary-color;
            background-color: $li-color-hover;
          }
        }
        div.tab:hover{
          border-bottom: 2px solid $primary-color;
          background-color: $li-color-hover;
        }

      }
      .select-tab {
        margin-top: 10px;
        margin-bottom: 50px;
        .row {
          margin-bottom: 15px;
          display: inline-flex;
          width: 100%;
          input-validate {
            width: 50%;
            label {
              width: 80%;
              font-size: 15px;
              color: #3D3D3D;
            }
            input {
              width: 80%;
              border: none;
              border-bottom: 2px solid #BFBFBF;
              height: 30px;
              text-align: center;
              &:focus {
                outline: none;
                border-bottom: 2px solid #127391;
              }
            }
          }
        }
      }
    }

  }
}