#nueva-acta {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;

  main {
      background: white;
      grid-column: 4 / 10;
      grid-row: 1 / 2;
      box-shadow: 1px 1px 5px #b5b5b5;
      margin: 125px 0;

      h2 {
          color: #3D3D3D;
          font-size: 30px;
          margin: 50px 0;
      }

      ul {
          display: inline-block;
          border-bottom: 2px solid #BFBFBF;
          width: 300px;
          text-align: center;

          .paginacion {
              //padding: 8px 30px;
              list-style: none;
          }

          li {
              display: inline;

              a {
                  color: #3D3D3D;
                  text-decoration: none;
                  padding: 0 10px;
              }
          }
      }

      form {
          width: 50%;
          transform: translateX(50%);

          label {
              display: block;
              color: #3D3D3D;
              text-align: left;
              margin-top: 40px;
              font-size: 13px;
              white-space: normal;
          }

          .lugar {
              display: inline-block;
              float: left;
          }

          .fecha {
              display: inline-block;
              float: right;
              margin-right: 20px;
          }

          input {
              width: 100%;
              border: none;
              border-bottom: 2px solid #BFBFBF;
              height: 30px;

              &:focus {
                  outline: none;
                  border-bottom: 2px solid #127391;
              }
          }

          #lugar {
              width: 50%;
              float: left;
          }

          #fecha {
              width: 35%;
              float: right;
          }

          .mitad_izq {
              display: inline-block;
              width: 45%;
              text-align: left;         
              margin-right: 20px;
          }

          .mitad_der {
              display: inline-block;
              width: 48%;
              //padding: 5px 0 5px 10px;
          }
          

      }
      input[type="submit"] {
        background: #127391;
        border-style: none;
        color: white;
        font-size: 20px;
        float: right;
        //margin-right: 50px;
        margin: 50px 0;
        height: 35px;
        width: 120px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
    }
  }
}


/*main ul.paginacion li+li:before {
  padding: 8px;
  color: #A2885E;
  content: "|\00a0";
}*/

/*
main form label:nth-child(3),
main form label:nth-child(4){
    display: inline-block;
    text-align: left;
    width: 50%;
}

main form input:nth-child(5),
main form input:nth-child(6){
    width: 45%;
    float: left;
}*/

/* Styles for tab labels */
/*.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}*/

/* Styles for the active tab label */
/*.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}*/

/* Styles for the ink bar */
/*.mat-ink-bar {
  background-color: green;
}

p {
font-family: Lato;
}*/