/*body{
    div {
        -webkit-print-color-adjust: exact !important;
        text-align: center;
        background-image: url(../../images/comunion.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        header{
            margin-bottom: 100px;
        }
    }
}*/