body {
  color: #fff;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*    margin: 0 auto;*/

}

#login {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0 auto;
  width: 600px;
  height: 700px;
  /*grid-gap: 1px;*/
}

#login {
  background: rgb(248,243,235);
  /*padding: 30px;*/
  margin-top: 50px;
  border-radius: 15px;
}

header {
  background: rgb(204, 172, 121);
  grid-column: 1 / -1;
  grid-row: 1;
  border-radius: 15px 15px 0 0;
}

header h1{
  margin-top: 50px;
  font-size: 30px;
}

main {
  grid-column: 1 / -1;
  grid-row: 2 / 7;
}

section {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

section h2 {
  color: rgb(162, 136, 94);
  margin: 65px 0;
  font-size: 30px;
}

a {
  color: #9E9E9E;
  text-decoration: none;
  margin-right: 50%;
  font-size: 14px;
  font-weight: bold;
  margin-left: 70px;
}

section form .input_usuario {
  border-radius: 10px 10px 0 0;
  border: 1px solid #DFDFDF;
  color: #727272;
  display: block;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  height: 50px;
  width: 390px;
  text-indent: 30px;
  font-family: FontAwesome, 'Assistant';
}

section form .input_password {
  border-radius: 0 0 10px 10px;
  border: 1px solid #DFDFDF;
  color: #727272;
  display: block;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  height: 50px;
  width: 390px;
  text-indent: 30px;
  font-family: FontAwesome, 'Assistant';
}

section form .btn_login {
  background: #CCAC79;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  height: 50px;
  width: 400px;
  font-size: 17px;
  font-weight: bold;
  font-family: FontAwesome, 'Assistant';
}

section form .btn_login:hover {
  cursor: pointer;
}

input {
  font-family: FontAwesome;
}

::placeholder{
  font-weight: bold;
  color: rgb(194, 194, 194);
  font-size: 18px;
}