#login {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  header {
      height: 220px;
  }

  main {
      grid-column: 1 / -1;
      grid-row: 2 / 4;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      position: relative;
  }

  section {
      background: white;
      box-shadow: 0 0 3px #d8d8d8;
      height: 550px;
      width: 550px;
      position: absolute;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      h2 {
          color: rgb(61, 61, 61);
          margin: 80px 0;
          font-size: 30px;
      }

      form {
          input {
              border: 1px solid #DFDFDF;
              color: #727272;
              display: block;
              margin-left: auto;
              margin-right: auto;
              font-size: 14px;
              height: 45px;
              width: 355px;
              text-indent: 30px;
              &:focus{
                outline: none !important;
                border: 2px solid #127391;
              }
          }
          
          .btn_login {
              background: $second-color;
              border-style: none;
              color: white;
              margin-top: 50px;
              height: 35px;
              width: 120px;
              font-size: 14px;
              font-weight: bold;
              display: inline-block;
          }

          .btn_login:hover {
              cursor: pointer;
          }

          a {
              color: #9E9E9E;
              display: inline;
              text-decoration: none;
              margin-right: 20px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 70px;
          }
      }
  }

  ::placeholder {
      font-weight: bold;
      color: rgb(194, 194, 194);
      font-size: 14px;
  }
}
