/*body{
    text-align: center;
    -webkit-print-color-adjust: exact !important;
    .izquierda{
       float: left;
        margin-top: 5%;
       width: 40%;
    }
    .derecha{
        float: right;
        width: 55%;
        header{
            margin-bottom: 50px;
        }
    }
}*/

#matrimonio_print{
    main{
    color: black;
    //display: grid;
    //grid-template-columns: repeat(12, 1fr);
    //grid-template-rows: repeat(12, 1fr);
    height: 100%;
    width: 100%;
        div{
            &.izquierda{
                width: 30%;
                text-align: left;
                display: inline-block;
                img{
                    //position: absolute;
                    height: 150px;
                    max-width: 150px;
                    //top: 100px;
                }
                .italic{
                    font-style: italic;
                }
            }
            &.derecha{
                width: 65%;
                text-align: center;
                display: inline-block;
                .space_bottom{
                    margin-bottom: 50px;
                }
                .medium_space_bottom{
                    margin-bottom: 15px;
                }
                .bolders{
                    font-weight: bold;
                }
                .italic{
                    font-style: italic;
                }
            }
        }    
    }
}