#search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100%;
    main {
        background: white;
        color: #3D3D3D;
        grid-column: 4/ 12;
        grid-row: 2 / 12;
        box-shadow: 1px 1px 5px #b5b5b5;
        margin: 25px 0;
        overflow-y: scroll;
        h2 {
            color: #3D3D3D;
            font-size: 30px;
            margin: 50px 0;
            font-weight: bold;
            display: inline-block;
            height: 10%;
            width: 100%;
        }
        ul{
            height: 10%;
            width: 100%;
            li {
                input[type="checkbox"]{
                    border: 2px solid $second-color;
                }
            }
        }
        .content{
            //width: 100%;
            //height: 80%;
            //margin-top: 2%;
            //display: inline;
            .row{
                display: inline-block;
                width: 100%;
                height: calc(80% - 2%);
                vertical-align: top;
                margin: 5px auto;
                table{
                    //padding-right: 12px;
                    width: 100%;
                    //margin: calc(80% - 10%);
                    tr{
                        width: 100%;
                        text-align: left;
                        line-height: 30px;
                        th{
                            font-weight: bold;
                        }
                        td{
                            //margin: 0 30px;
                            &.img{
                                //margin-left: 4px;
                                display: inline-flex;
                                width: 100%;
                                img {
                                    cursor: pointer;
                                    margin-left: 5px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
                /*ol {
                    padding-right: 12px;
                    margin-left: 10px;
                    li {
                        width: 100%;
                        list-style-type: decimal;
                        text-align: left;
                        margin: 10px 0;
                        cursor: context-menu;
                        .text {
                            display: inline-block;
                            border-bottom: 2px solid $primary-color;
                            width: 50%;
                            font-size: 15px;
                        }
                        .img {
                            margin-left: 4px;
                            display: inline-block;
                            width: calc(40% - 4px);
                            img {
                                cursor: pointer;
                                margin: 0 calc(30% / 3);
                                width: 20px;
                                height: 15px;
                            }
                        }


                    }
                }*/
            }
        }

    }
}