body{
    text-align: center;
    -webkit-print-color-adjust: exact !important;
    .izquierda{
       float: left;
        margin-top: 5%;
       width: 40%;
    }
    .derecha{
        float: right;
        width: 55%;
        header{
            margin-bottom: 50px;
        }
    }
}