<div id="comunion_print">
    <main>
        <div class="center">
            <h2 class="medium_space_bottom" style="margin-top: 0px;">DIOCESIS DE ENSENADA</h2>
            <h3 class="bolders">Parroquia Nuestra Señora del Perpetuo Socorro.</h3>
            <pre class="space_bottom" style="margin-bottom: 100px; font-size: 14px;">
        Manuel Ávila Camacho No. 665, Col. Reforma
        C.P. 22810, Tel: (646) 206-41-21</pre>

            <h3 class="bolders medium_space_bottom">Boleta de Primera Comunión</h3>
            <p class="space_bottom">"Yo soy el pan vivo, que ha bajado del cielo. <br>
                Si uno come de este pan, vivirá para siempre" (jn 6,51)</p>
            
            <p class="medium_space_bottom bolders">NOMBRE COMPLETO:</p>
            <p class="space_bottom"> <span class="bolders"><u> {{sacrament?.name}} </u></span></p>

            <p class="medium_space_bottom">Quien fue bautizado(a) en la parroquia: <span class="bolders"> <u> {{sacrament?.baptismChurch}} </u> </span> </p>
            <p class="space_bottom"> En: <span class="bolders"> <u> {{sacrament?.baptismPlace}} </u> </span> ,el <span class="bolders"> <u> {{sacrament?.baptismDate | customDate}} </u> </span></p>

            <p class="medium_space_bottom bolders"> Recibió por primera vez la eucaristía en esta parroquia el:</p>
            <p class="space_bottom bolders"> <u> {{sacrament?.date | customDate}} </u></p>
            <p class="medium_space_bottom">Celebrante: <span class="bolders"> <u>Presbitero {{sacrament?.priest}} </u> </span> </p>
            <p class="medium_space_bottom">Sus padres: <span class="bolders"> <u> {{sacrament?.fatherName}} <br> <span style="margin-left: 60px;"> {{sacrament?.motherName}} </span> </u> </span> </p>
            <p class="medium_space_bottom">Padrino o Madrina: <span class="bolders"> <u> {{sacrament?.godFatherName}} <br> <span style="margin-left: 45px;"> {{sacrament?.godMotherName}} </span> </u> </span> </p>

            <p class="space_bottom bolders" style="margin-bottom: 80px"> Libro: <u>01</u> Hoja: <u>156</u> Partida: <u>4756</u> </p>

            <p>Doy Fe: Pbro.___________________________________</p>
        </div>
    </main>
</div>