<body>
<div id="login">
  <header>
    <h1>Control de actas sacramentales</h1>
  </header>
  <main>
    <section>
      <h2>Iniciar sesión</h2>
      <form action="" method="GET">
        <input class = "input_usuario" type="text" placeholder= "&#xf2c0; &nbsp;&nbsp;&nbsp; Contraseña">
        <input class = "input_password" type="password" placeholder= "&#xf13e; &nbsp;&nbsp;&nbsp; Contraseña">
        <input class = "btn_login" type="submit" value="Ingresar">
      </form>
      <a href="#">¿Olvidaste tu contraseña?</a>
    </section>
  </main>
</div>
</body>
