<div id="buscador">
        <header>
            <h1>Nuestra señora del Perpetuo Socorro</h1>
        </header>
        <menu></menu>
        <main>
            <h2>Buscar actas</h2>
            <ul>
                <li>
                    <input type="checkbox" name="bautismo" value="bautismo"> Bautismo
                    <input type="checkbox" name="comunion" value="bautismo"> Comunión
                    <input type="checkbox" name="confirmacion" value="bautismo"> Confirmación
                    <input type="checkbox" name="matrimonio" value="bautismo"> Matrimonio
                </li>
            </ul>
            <ol>
                <li>Mónica Cruz Sandoval</li>
                <li>Mónica Cruz Sandoval</li>
            </ol>
        </main>
</div>