<div id="search">
    <header>
        <h1>Nuestra señora del Perpetuo Socorro</h1>
    </header>
    <menu></menu>
    <main>
        <h2>Buscar actas</h2>
        <ul>
            <li>
            <input type="checkbox" name="bautizm"
                    [checked]="eventModel.bautizm"
                    (change)="changeStatus('bautizm',!eventModel.bautizm)"> Bautismo
            <input type="checkbox" name="comunion"
                    [checked]="eventModel.communion"
                    (change)="changeStatus('communion',!eventModel.communion)"> Comunión
            <input type="checkbox" name="confirm"
                    [checked]="eventModel.confirm"
                    (change)="changeStatus('confirm',!eventModel.confirm)"> Confirmación
            <input type="checkbox" name="matrimonio"
                    [checked]="eventModel.marriage"
                    (change)="changeStatus('marriage',!eventModel.marriage)"> Matrimonio
            </li>
        </ul>
        <div class="content">

            <div class="row">
                <ol>
                    <li *ngFor="let sacrament of sacramentsLeftList">
                        <div class="text">
                            {{sacrament.name}}
                        </div>
                        <div class="img">
                            <img src="../../../../assets/images/Editar-acta.svg" class="icon"
                                 [routerLink]="['/bautismo', sacrament.id]">
                            <img src="../../../../assets/images/Imprimir-acta.svg" class="icon">
                            <img src="../../../../assets/images/Borrar-acta.svg" class="icon">
                        </div>
                    </li>
                </ol>
            </div>
            <div class="row">
                <ol>
                    <li *ngFor="let sacrament of sacramentsRightList">
                        <div class="text">
                            {{sacrament.name}}
                        </div>
                        <div class="img">
                            <img src="../../../../assets/images/Editar-acta.svg" class="icon">
                            <img src="../../../../assets/images/Imprimir-acta.svg" class="icon">
                            <img src="../../../../assets/images/Borrar-acta.svg" class="icon">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </main>
</div>