
<head>
  <meta charset="UTF-8">
  <title>Bautimo</title>
  <link rel="stylesheet" href="bautismo_pdf.css">
</head>
<body class="contentToConvert">
<div class="izquierda">
  <img src="bautismo.jpg" alt="Bautismo">
</div>
<div class="derecha">
  <h2>DIOCESIS DE ENSENADA</h2>
  <h3>Parroquia Nuestra Señora del Perpetuo Socorro.</h3>
  <pre>
        Manuel Ávila Camacho No. 665, Col. Reforma
        C.P. 22810, Tel: (646) 206-41-21</pre>

  <h3>Boleta de Bautismo</h3>
  <p>El día: <u> 24 de Junio del 2018 </u></p>
  <p>Fue BAUTIZADO (A):</p>
  <p> <u><strong>Shirley Malinche Mata Félix</strong></u></p>
  <p>Que nació en: <u><strong>Ensenada, Baja California</strong></u></p>
  <p>Hijo(a) de:</p>
  <p><u><strong>Sebastián Mata Aguillon</strong></u></p>
  <p><u><strong>Viridiana De Jesús Félix Martinez</strong></u></p>

  <p>Abuelos paternos:</p>
  <p><u><strong>Sebastián Mata Aguillon</strong></u></p>
  <p><u><strong>Viridiana De Jesús Félix Martinez</strong></u></p>

  <p>Abuelos Maternos:</p>
  <p><u><strong>Sebastián Mata Aguillon</strong></u></p>
  <p><u><strong>Viridiana De Jesús Félix Martinez</strong></u></p>

  <p>Padrinos</p>
  <p><u><strong>Sebastián Mata Aguillon</strong></u></p>
  <p><u><strong>Viridiana De Jesús Félix Martinez</strong></u></p>

  <p>Fue bautizado (a) por:</p>
  <u><strong>Pbro. Ramón Iván Álvarez Valenzuela</strong></u>
  <br><br>
  <p>Doy Fe: <strong>Pbro.</strong>___________________________________</p>

  <p>Registro Civil: <strong>Libro: <u>01</u> Foja: <u>156</u> Partida: <u>4756</u> </strong></p>
  <u><strong>ENSENADA, BAJA CALIFORNIA</strong></u>
  <p>Registro de Bautismo: <strong>Libro: <u>01</u> Foja: <u>21</u> Partida: <u>041</u> </strong></p>
</div>
</body>
