<head>
    <meta charset="UTF-8">
    <title>Bautimo</title>
    <link rel="stylesheet" href="comunion_template.css">
</head>

<body>
    <div>
        <header>
            <h2>DIOCESIS DE ENSENADA</h2>
            <h3>Parroquia Nuestra Señora del Perpetuo Socorro.</h3>
            <pre>
        Manuel Ávila Camacho No. 665, Col. Reforma
        C.P. 22810, Tel: (646) 206-41-21</pre>
        </header>
        
        <h3>Boleta de Primera Comunión</h3>
        <em>"Yo soy el pan vivo, que ha bajado del cielo. <br>
            Si uno come de este pan, vivirá para siempre" (jn 6,41)</em>
        <br><br><br>
        <p>NOMBRE COMPLETO:</p>
        <p> <u><strong>Shirley Malinche Mata Félix</strong></u></p>
        <br>
        <p>Quien fue bautizada en la parroquia: <u> <strong> Santos Martires de Cristo Rey </strong></u></p>
        <p>En: <u><strong>Ensenada, Baja California.</strong></u> El <u><strong>15 de Abril del 2017</strong></u></p>
        <br><br>
        <p> <strong>Recibió por primera vez la eucaristíca en esta parroquia</strong></p>
        <p>El <u><strong>15 de Abril del 2017</strong></u></p>
        <p>Celebrante: <u><strong>Pbro. Ramón Iván Álvarez Valenzuela</strong></u></p>
        <p>Sus padres: <u><strong>Simon Garcia Ramirez y Sonia Martinez Salas</strong></u></p>
        <p>Padrino o Madrina: <u><strong>Margarita Gomez Pimentel</strong></u></p>

        <p><strong>Libro: <u>01</u> Hoja: <u>156</u> Partida: <u>4756</u> </strong></p>
        <br><br>
        <p>Doy Fe: <strong>Pbro.</strong>___________________________________</p>
    </div>
</body>