<label [for]="data">{{label}}</label>

<div [ngSwitch]="inputType" >
    <div *ngSwitchCase ="'text'">
        <input type="text" [(ngModel)] = "model[data]"
               [maxlength]="length"
               [required]="isRequired"
               [name]="data"
               [id]="data"
               (input)="capitalize()"
               (change)="validate(inp.invalid && (inp.dirty || inp.touched))"
               #inp="ngModel"/>
        <div *ngIf="inp.invalid && (inp.dirty || inp.touched)"
             class="alert alert-danger">
            <div *ngIf="inp.errors.required">
                El {{label}} es requerido
            </div>
        </div>
    </div>
    <div *ngSwitchCase ="'date'">
        <input type="date" [(ngModel)] = "model[data]"
               [required]="isRequired"
               [name]="data"
               [id]="data"
               (change)="validate(inp.invalid && (inp.dirty || inp.touched))"
               #inp="ngModel"/>
        <div *ngIf="inp.invalid && (inp.dirty || inp.touched)"
             class="alert alert-danger">
            <div *ngIf="inp.errors.required">
                El {{label}} es requerido
            </div>
        </div>
    </div>
</div>


