<div id="nueva-acta">
    <header>
        <h1>Nuestra señora del Perpetuo Socorro</h1>
    </header>
    <menu></menu>
    <main *ngIf="showForm">
        <div class="content">
            <h2>Crear nueva acta de bautismo</h2>

            <div class="tabs">
                <div class="tab" *ngFor="let tab of tabs" (click)="viewMode = tab"
                     [ngClass]="{'select': viewMode === tab}">
                    <a>{{tab}}</a>
                </div>
            </div>

            <form id="form" name="form" #myForm="ngForm">
                <div [ngSwitch]="viewMode" class="select-tab">

                    <div *ngSwitchDefault>
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'name'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del bautizado'" [capitalise]="true" (change)="validate($event)" 
                                            [position]="0" autofocus>
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'bornPlace'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Lugar de nacimiento'" [capitalise]="true" (change)="validate($event)"
                                            [position]="1">
                            </input-validate>
                        </div>

                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'fatherName'" [isRequired]="true"
                                            [label]="'Padre del bautizado'" [capitalise]="true" [inputType]="'text'"
                                            (change)="validate($event)" [position]="2">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'motherName'" [isRequired]="true"
                                            [label]="'Madre del bautizado'" [capitalise]="true" [inputType]="'text'"
                                            (change)="validate($event)" [position]="3">
                            </input-validate>
                        </div>
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'date'" [isRequired]="true"
                                            [label]="'Fecha del bautizo'" [capitalise]="false" [inputType]="'date'"
                                            (change)="validate($event)" [position]="4">
                            </input-validate>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Testigos'" class="select-tab">

                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'godFatherName'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del padrino'" [capitalise]="true" (change)="validate($event)"
                                            [position]="5">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'godMotherName'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre de la madrina'" [capitalise]="true" (change)="validate($event)"
                                            [position]="6">
                            </input-validate>
                        </div>

                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'paternalGrandFatherName'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del abuelo paterno'" [capitalise]="true" (change)="validate($event)"
                                            [position]="7">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'paternalGrandMotherName'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre de la abuela paterna'" [capitalise]="true" (change)="validate($event)"
                                            [position]="8">
                            </input-validate>
                        </div>

                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'maternalGrandFatherName'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del abuelo materno'" [capitalise]="true" (change)="validate($event)"
                                            [position]="9">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'maternalGrandMotherName'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre de la abuela materna'" [capitalise]="true" (change)="validate($event)"
                                            [position]="10">
                            </input-validate>
                        </div>

                    </div>
                    <div *ngSwitchCase="'Celebrante'" class="select-tab">
                        <div class="row">
                            <label for="input-validate" style="color:black; margin-top: 30px; transform: translateX(200px);">Pbro.</label>
                            <input-validate [model]="sacrament" [length]="35" [data]="'priest'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del sacerdote'" [capitalise]="true" (change)="validate($event)"
                                            [position]="11" value="text" placeholder="txt">
                            </input-validate>
                        </div>
                    </div>
                </div>
            </form>

            <button type="submit"  (click)="save(sacrament, sacrament.id)">Guardar</button> <!--[disabled]="isValidArray()"-->
            <button type="submit" value="Cancelar" routerLink="/buscador">Cancelar</button>
        </div>

    </main>
</div>

