<div id="nueva-acta">
    <header>
        <h1>Nuestra señora del Perpetuo Socorro</h1>
    </header>
  <main>
    <h2>Crear nueva acta de bautismo</h2>
    <ul class="paginacion">
        <li (click)="viewMode = 'tab1'"><a >Catecumeno</a></li>
        <li (click)="viewMode = 'tab2'"><a >Testigos</a></li>        
        <li (click)="viewMode = 'tab3'"><a >Celebrante</a></li>
        <!-- [class.active]="viewMode == tab2" rel="tab2" -->
    </ul>
    <div [ngSwitch]="viewMode">
        <form action="#" id="tab1" *ngSwitchCase="'tab1'">
            <label for="bautizado">Nombre del bautizado</label>
            <input type="text" id="bautizado">

            <label for="lugar" class="lugar">Lugar de nacimiento</label>
            <label for="fecha" class="fecha">Fecha del bautizo</label>

            <input type="text" id="lugar">
            <input type="text" id="fecha">
            <br><br><br><br><br><br>
            <label for="papa">Padre del bautizado</label>
            <input type="text" id="papa">

            <label for="mama">Madre del bautizado</label>
            <input type="text" id="mama">
        </form>
        <form action="#" id="tab2" *ngSwitchCase="'tab2'">
          <label for="padrino" class="mitad_izq">Nombre del padrino</label>
          <label for="madrina" class="mitad_der">Nombre de la madrina</label>
          
          <input type="text" id="padrino" class="mitad_izq plus">
          <input type="text" id="madrina" class="mitad_der">
          
          <label for="abuelo_P" class="mitad_izq">Nombre del abuelo paterno</label>
          <label for="abuela_P" class="mitad_der">Nombre de la abuela paterna</label>
          
          <input type="text" id="abuelo_P" class="mitad_izq plus">
          <input type="text" id="abuela_P" class="mitad_der">
          
          <label for="abuelo_M" class="mitad_izq">Nombre del abuelo materno</label>
          <label for="abuela_P" class="mitad_der">Nombre de la abuela materna</label>
          
          <input type="text" id="abuelo_M" class="mitad_izq plus">
          <input type="text" id="abuela_M" class="mitad_der">
      </form>
      <form action="#" id="tab3" *ngSwitchCase="'tab3'">
        <label for="sacerdote">Nombre del sacerdote</label>
        <input type="text" id="sacerdote">
      </form>
    </div>
    <input type="submit" value="Guardar acta" style="margin-right: 175px;">
    <input type="submit" value="Cancelar" style="margin-right: 30px;">
</main>
</div>