<div id="nueva-acta">
    <header>
        <h1>Nuestra señora del Perpetuo Socorro</h1>
    </header>
    <menu></menu>
    <main *ngIf="showForm">
        <div class="content">
            <h2>Crear nueva acta de confirmación</h2>

            <div class="tabs">
                <div class="tab" *ngFor="let tab of tabs" (click)="viewMode = tab" [ngClass]="{'select': viewMode === tab}">
                    <a>{{tab}}</a>
                </div>
            </div>

            <form id="form" name="form" #myForm="ngForm">
                <div [ngSwitch]="viewMode" class="select-tab">

                    <div *ngSwitchDefault>
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'name'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del catecumeno'" [capitalise]="true" (change)="validate($event)"
                                            [position]="0">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="50" [data]="'baptismChurch'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Parroquia de bautismo'" [capitalise]="true" (change)="validate($event)"
                                            [position]="1">
                            </input-validate>
                        </div>
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="50" [data]="'baptismPlace'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Ciudad de bautismo'" [capitalise]="true" (change)="validate($event)"
                                            [position]="2">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'baptismDate'" [isRequired]="true" [inputType]="'date'"
                                            [label]="'Fecha del bautismo'" [capitalise]="true" (change)="validate($event)"
                                            [position]="3">
                            </input-validate>
                        </div>
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'date'" [isRequired]="true"
                                            [label]="'Fecha de la confirmación'" [capitalise]="false" [inputType]="'date'" (change)="validate($event)"
                                            [position]="4">
                            </input-validate>
                        </div>
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'fatherName'" [isRequired]="true"
                                            [label]="'Padre del catecumeno'" [capitalise]="true" [inputType]="'text'" (change)="validate($event)"
                                            [position]="5">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'motherName'" [isRequired]="true"
                                            [label]="'Madre del catecumeno'" [capitalise]="true" [inputType]="'text'" (change)="validate($event)"
                                            [position]="6">
                            </input-validate>
                        </div>
                    </div>

                    <div *ngSwitchCase="'Testigos'" class="select-tab">
                        <div class="row">
                            <input-validate [model]="sacrament" [length]="35" [data]="'godFatherName'" [isRequired]="false" [inputType]="'text'"
                                            [label]="'Nombre del padrino'" [capitalise]="true" (change)="validate($event)"
                                            [position]="7">
                            </input-validate>
                            <input-validate [model]="sacrament" [length]="35" [data]="'godMotherName'" [isRequired]="false" [inputType]="'text'"
                                            [label]="'Nombre de la madrina'" [capitalise]="true" (change)="validate($event)"
                                            [position]="8">
                            </input-validate>
                        </div>
                    </div>

                    <div *ngSwitchCase="'Celebrante'" class="select-tab">
                        <div class="row">
                            <label for="input-validate" style="color:black; margin-top: 30px; transform: translateX(200px);">Pbro.</label>
                            <input-validate [model]="sacrament" [length]="35" [data]="'priest'" [isRequired]="true" [inputType]="'text'"
                                            [label]="'Nombre del sacerdote'" [capitalise]="true" (change)="validate($event)"
                                            [position]="9">
                            </input-validate>
                        </div>
                    </div>
                </div>
            </form>

            <button type="submit" (click)="save(sacrament, sacrament.id)" >Guardar</button> <!--[disabled]="isValidArray()"-->
            <button type="submit"  routerLink="/buscador">Cancelar</button>
        </div>
    </main>
</div>