
@import "reset";
@import "views/login";
@import "views/bautismo";
@import "views/menu";

body {
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }